@model IEnumerable<CCOTask.Models.Appointments>

@{
    ViewBag.Title = "Unconfirm";
}

<h2>Unconfirm Appointments</h2>
<table class="table">
    <tr>
        <th>
            Student Email
        </th>
        <th>
            Date
        </th>
        <th>
            Note
        </th>
        <th>
            Decide ?
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.ActionLink("Confirm", "Confirm", new { id=item.id }) |
            @Html.ActionLink("Unconfirm", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
